
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  gap: 5px;
}

button {
  cursor: pointer;
  background-color:#ED2C23;
  color:#fff;
  font-family:'Open Sans', sans-serif;
  font-size:15px;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  letter-spacing: 1px;
  width: 90%;
  height: 45px;
  transition: 300ms background-color ease-in-out;
}
button:hover {
  background-color: #fff;
  border:1.2px solid #ED2C23;
  color:#ED2C23;
}

.input-group {
  margin-bottom: 25px;
  position: relative;
}
.input-group__label {
  display: block;
  position: absolute;
  top: 0;
  line-height: 50px;
  color: #aaa;
  font-size:14px;
  left: 36.5px;
  font-family: 'Open Sans', sans-serif;
  transition: line-height 300ms ease-in-out, font-size 200ms ease-in-out, top 200ms ease-in-out;
  pointer-events: none;
}
.input-group__label2 {
  display: block;
  position: absolute;
  top: 0;
  line-height: 50px;
  color: #aaa;
  font-size:14px;
  left: 30px;
  font-family: 'Open Sans', sans-serif;
  transition: line-height 300ms ease-in-out, font-size 200ms ease-in-out, top 200ms ease-in-out;
  pointer-events: none;
}
.input-group__input {
  width: 90%;
  height: 50px;
  border: 1.5px solid #CB9954;
  border-radius: 4px;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
}
.input-group__input:not(:-moz-placeholder-shown) + label {
  background-color: white;
  line-height: 10px;
  opacity: 1;
  font-size: 10px;
  top: -5px;
}
.input-group__input:not(:-ms-input-placeholder) + label {
  background-color: white;
  line-height: 10px;
  opacity: 1;
  font-size: 10px;
  top: -5px;
  font-family: 'Open Sans', sans-serif;
}
.input-group__input:not(:placeholder-shown) + label, .input-group__input:focus + label{
  background-color: #fff;
  line-height: 10px;
  opacity: 1;
  font-size: 12px;
  Color:#CB9954;
  top: 1px;
  font-family: 'Open Sans', sans-serif;
}
.input-group__input:focus {
  outline: none;
  border:1px solid #CB9954;
  font-family: 'Open Sans', sans-serif;
}
.input-group__input:focus + label +i{
  color: #CB9954;
  border-color:#CB9954;
}